@page
@model WorkShop2.Pages.UpdateModel

<form method="post">
    <div class="form-row">

        <div class="form-group col-md-6">
            <label hidden asp-for="@Model.Product.Id"></label>
            <input hidden asp-for="@Model.Product.Id" value="@Model.Product.Id" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.Product.Name"></label>
            <input asp-for="@Model.Product.Name" value="@Model.Product.Name" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.Product.Title"></label>
            <input class="form-control" asp-for="@Model.Product.Title" value="@Model.Product.Title">
        </div>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Product.Price"></label>
        <input type="number" asp-for="@Model.Product.Price" class="form-control" value="@Model.Product.Price">
    </div>
    <div class="form-group">
        <label asp-for="@Model.Product.Color"></label>
        <input type="text" class="form-control" asp-for="@Model.Product.Color" value="@Model.Product.Color">
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="@Model.Product.CategoryId">Category</label>
            <select asp-for="@Model.Product.CategoryId" value="@Model.Product.CategoryId" class="form-control">
                @foreach (var item in Model.Category)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="@Model.Product.Description"></label>
            <textarea class="form-control" asp-for="@Model.Product.Description" rows="3" value="@Model.Product.Description"></textarea>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">submit</button>
</form>